/* file: portfolio.css
date: 12/3/2019
autor: Johnny Magielse */

body{
    background-color: white;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
} 

#johnny{
    height:200px;
    width:200px;
    border-radius: 50%;
} /* picture of me */

#main-header{
    background-color:rgba(168, 50, 50, 0.945);
    color:white;
    height: 85px;
}

#main-header h1{
    padding-top: 5px;
} /* main-header is the orange bar above */

#navbar{
    background-color:#333;
}

#navbar ul{
    padding:0;
    list-style-type:none;
}

#navbar li{
    display:inline;   
}

#navbar a{
    text-decoration:none;
    font:18px;
    padding-right:15px;
    font-size:19px; 
}

#home {
    color:rgba(8, 173, 165, 0.911);
}

.white {
    color:#fff;
} /* white and home are for the word colors from #navbar */

#showcase{
    background-image:url(../images/Orange-Pink-Lines-Abstract.jpg);
    background-position: center right;
    min-height:200px;
    margin-bottom:30px;
    text-align: center;
}

#showcase h1{
    color:white;
    font-size:50px;
    line-height:1.6em;
    padding-top:30px;
}

.main{
    float:left;
    width:65%;
    padding: 0 30px;
    box-sizing: border-box;
}

.sidebar{
    float:right;
    width:35%;
    background:rgb(90, 89, 89);
    color:white;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar h1{
    text-align: center;
}

#main-footer{
    background:rgb(90, 89, 89);
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }
    #sidebar{
        width:100%;
        float:none;
    }
} /* website will be good readable, even when its small */

