/* file: portfolio.css
date: 12/3/2019
autor: Johnny Magielse */
body{
    background-color: #ff822f;
    background-size:cover;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-attachment: fixed;
    background-repeat: repeat;
}
/* simpele body */
nav{
    background-color: #1d1d1d;
    height: 80px;
    border: 1px solid #131313;
}

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type:none;
    padding-right: 100px;
}

nav ul li{
    float:right;
    margin-right: 30px;
}

nav ul li a{
    display:block;
    margin-top: 10px;
    padding: 10px;
    color: black;
    background-color: #ff771c;
    font-size: 30px;
    text-decoration: none;
    border-radius: 10% 10% 0% 0%;
    height: 50px;
    border: 2px solid black;
}

nav ul li a:hover{
    margin-top: 20px;
    padding-bottom: 0px;
}

.menu1{
    margin-top: 20px;
    padding-bottom: 0px;
}
/* nav bar met buttons die bewegen */

.logo{
    width: 100px;
    height: 100px;
    float: left;
    padding-left: 10px;
}

.me{
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.white{
    height: 340px;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.dragon{
  width: 400px;
  height: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span{
    width: 33%;
    height: 650px;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding-top: 100px;

}

.middle{
    text-align: center;
    color: white;
}

p{
    font-size: 23px;
}

.lastSentence{
    font-size: 30px;
}

.icons{
    width: 200px;
    height: 200px;
    padding-left: 140px;
}