/**
File: sterren.css
Author: Johnny Magielse
Description: A stylesheet for the sterren.html

Revision History
0.1     01/11/2019      Johnny Magielse     First/begin version
**/
body{
    background-color: #FBEDBE;
}
nav{
    background-color: orange;
    height: 100px;
    font-family: sans-serif;
}

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type:none;
}

nav ul li{
    float: right;
    padding-right: 50px;
}

nav ul li a{
    display:block;
    margin-top: 10px;
    padding: 15px;
    color: black;
    background-color: orangered;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10% 10% 0% 0%;
    height: 60px;
    border: solid;
}

nav ul li a:hover{
    margin-top: 20px;
    padding-bottom: 5px;
}

.menu1{
    margin-top: 25px;
    padding-bottom: 0px;
}
/**-------------------------------------**/
.vertical{
    width: 150px;
    height: 635px;
    background-color: orange;
    border: 1px solid black;
    text-align: center;
}

.vertical a{
   color: black;
   display: block;
   text-decoration: none;
   font-size: 25px;
   padding-top: 30px;
   background-color: orangered;
   padding: 15px;
   margin-top: 15px;
   border: solid;
font-family: sans-serif;
}

div{
    position: fixed;
}

img{
    width: 160px;
    height 160px;
}

.left{
    color: black;
    padding-left: 200px;
}
p{
    font-size: 13px;
    color: #771120;
    font-family: sans-serif;
}

.first{
    font-size: 17px;
}

table,tr,td,th{
    text-align: left;
    border-collapse: collapse;
    font-size: 20px;
    font-family: sans-serif;
}

.width{
    width: 190px;
}

.blue{
    color: blue;
    background-color: aquamarine;
}

thead{
    color: #0000FF;
}

.left1{
    padding-top: 50px;
    padding-left: 500px;
    width: 350px;
    height: 350px;
}

.color{
    background-color: #517D45;
    border: 3px #000000 solid;
}